<div class="container-fluid">
    <div class="row">
        <div class="col-6 home-heading-container">
            <div class="home-text-container">
                <h1>Travel with Trust</h1>
                <h5>Book affordable and</h5>
                <h5>comfortable rides now</h5>
                <button class="btn btn-booking" (click)="gotoBooking()">Booking</button>
            </div>
        </div>
        <div class="col-6">
            <div class="bimg" id="bimg">
            </div>
        </div>
    </div>
</div>