<br>
<div class="container">
    <div class="row profile-icon">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path opacity="0.4"
                    d="M12.1207 12.78C12.0507 12.77 11.9607 12.77 11.8807 12.78C10.1207 12.72 8.7207 11.28 8.7207 9.50998C8.7207 7.69998 10.1807 6.22998 12.0007 6.22998C13.8107 6.22998 15.2807 7.69998 15.2807 9.50998C15.2707 11.28 13.8807 12.72 12.1207 12.78Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path opacity="0.34"
                    d="M18.7398 19.3801C16.9598 21.0101 14.5998 22.0001 11.9998 22.0001C9.39977 22.0001 7.03977 21.0101 5.25977 19.3801C5.35977 18.4401 5.95977 17.5201 7.02977 16.8001C9.76977 14.9801 14.2498 14.9801 16.9698 16.8001C18.0398 17.5201 18.6398 18.4401 18.7398 19.3801Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path
                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </g>
        </svg>
        <h3 class="profile-heading">Register</h3>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 shadow p-3 mb-5 bg-white rounded">
            <form [formGroup]="registerForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Enter Age" formControlName="age">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" formControlName="username">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" placeholder="Enter Password" formControlName="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter Address" formControlName="address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="referralCode">Referall Code(optional)</label>
                        <input type="text" class="form-control" id="referralCode" placeholder="Enter Referral Code" formControlName="referralCode">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-check-label" for="isCabRider">
                            Cab Rider
                        </label><br>
                        <input class="form-check-input" type="checkbox" id="isCabRider" formControlName="isCabRider">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-md-12" (click)="onRegister()">Register</button>
                <a href="" class="registerLink">Already have an account ?</a>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>